<div class="container-fluid banner" id="home">

    <div class="container tagline">

      <h1 class="banner-text"><strong>Welcome to Better Shopping</strong></h1>

      <button class="btn btn-light btn1" onclick="window.location.href='#upcoming-events'"><strong>Upcoming Events</strong></button>

      <button class="btn btn-outline-light btn2" onclick="window.location.href='#contact-us'"><strong>Contact Us</strong></button>

    </div>

  </div>
