
<div class="container-fluid collage-container" id="signup">

    <div class="row collage">
    
        <div class="col">
            <img src="images/newpic1.jpg" alt="">
        </div>
            
        <div class="col">
            <img src="images/newpic2.jpg" alt="">
        </div>
    
        <div class="col">
            <img src="images/newpic3.jpg" alt="">
        </div>
    
    </div>


</div>
