
<div class="container-fluid collage-container">

    <div class="row collage">
    
        <div class="col">
            <img src="images/round 2 (3 of 5).jpg" alt="">
        </div>
            
        <div class="col">
            <img src="images/round 2 (5 of 7).jpg" alt="">
        </div>
    
        <div class="col">
            <img src="images/Round 3 (2 of 11).jpg" alt="">
        </div>
    
    </div>

</div>
