<div class="container-fluid contact-container" id="contact-us">

    <div class="container">

        <div class="row">
            <div class="col">
                <h1><strong>Contact Us</strong></h1>
            </div>
        </div>

        <div class="row contact-cards">
            <div class="col-lg-6">
                <div class="card mb-4 rounded-3 shadow-sm">
                    <img src="images/newpic1.jpg" class="card-img-top" alt="...">
                    <div class="card-header py-3 text-center">
                        <h4 class="my-0 fw-bold">For Event Info and Booth Bookings</h4>
                    </div>
                    <div class="card-body">
                        <h1 class="card-title pricing-card-title">630-776-9407</h1>
                        <ul class="list-unstyled mt-3 mb-4">
                            <li><a href="mailto:israr@znfashions.com">
                                Israr@ZNFashions.com
                            </a> </li>
                            <li>9am - 9pm</li>
                            <li>Sat - Sun</li>
                        </ul>
                        <button type="button" class="w-100 btn btn-lg btn-danger">Book Now!</button>
                    </div>
                    
                </div>
              </div>

              <div class="col-lg-6">
                <div class="card mb-4 rounded-3 shadow-sm">
                    <img src="images/newpic8.JPG" class="card-img-top" alt="...">
                  <div class="card-header py-3 text-center">
                    <h4 class="my-0 fw-bold">For Shopping (Chicago Area Only)</h4>
                  </div>
                  <div class="card-body">
                    <h1 class="card-title pricing-card-title">630-600-1328</h1>
                    <ul class="list-unstyled mt-3 mb-4 fs-6">
                        <li>
                            <a href="mailto:znfashions01@gmail.com">
                                ZNFashions01@gmail.com
                            </a> </li>
                        <li>9am - 9pm</li>
                        <li>Sat - Sun</li>
                    </ul>
                    <button type="button" class="w-100 btn btn-lg btn-danger">Shop Now!</button>
                  </div>
                </div>
              </div>

        </div>

    </div>

</div>