  <div class="container-fluid">

      <nav class="navbar navbar-expand-lg navbar-light fixed-top">

        <a class="navbar-brand" href="#">
          <img src="images/ZN Font.png" width="200px" alt="">
        </a>
  
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
  
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
  
          <ul class="navbar-nav ms-auto text-center">
            <li class="nav-item">
              <a class="nav-link" href="#home">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#signup">Sign Up</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#upcoming-events">Upcoming Events</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#about-us">About Us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#contact-us">Contact Us</a>
            </li>
          </ul>
          
        </div>
  
      </nav>


  </div>