
<%- include("partials/header") %>

<div class="container-fluid">

    <nav class="navbar navbar-expand-lg navbar-light fixed-top">
  
      <a class="navbar-brand" href="#">
        <img src="images/ZN Font.png" width="200px" alt="">
      </a>
  
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
  
        <ul class="navbar-nav ms-auto text-center">
          <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
          </li>
        </ul>
        
      </div>
  
    </nav>
  
  
  </div>

<div class="container success">

    <h1 class="text-success"><strong>Email added successfully!</strong></h1>
    <p>You will now receive emails whenever we have an event near your selected city! If you would like to add
        yourself to more city lists, please go ahead and submit the sign up form again for that city!
    </p>
    <button class="btn btn-danger" onclick="location.href = '/'">Return to Home Page</button>
    
</div>



<%- include("partials/footer") %>